<!DOCTYPE html>
<html lang="en">
<head>
<title>DFly software development platform</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #3498DB;
  color: white;
  font-size: 30px;
}

/* Page Content */
.content {padding:20px;}
</style>
</head>
<body bgcolor="#3498DB" >

<div class="header">
  <h1>{{message}}</h1>
</div>

</body>
</html>